<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
<body>
    <form action="{{url_for('edit')}}" method="POST">
        <h1>Book name: {{book_to_change.title}}</h1>
        <h2>Current rating: {{book_to_change.rating}}</h2>
        <label>New Rating</label>
        <input type="text" name="rating">
        <button class="btn btn-primary" type="submit">Change rating</button>
    </form>
</body>
</html>